$backgroundGray: #e9ecef;
$red: #e53935;

.TodoItemView {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 400;

  .Button {
    cursor: pointer;
  }
  .Text {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    margin-left: 1.4rem;
    margin-right: 0.5rem;
    padding-left: 0px;
  }
  .Trash {
    color: $backgroundGray;
    &:hover {
      color: $red;
    }
  }
}
