$blue: #2962f6;
$itemGray: #adb5bd;

.TodoCreate {
  display: flex;
  flex-direction: column;
  width: calc(100%-1rem);
  height: 32rem;
  padding: 1rem;
  .AddTodo {
    display: flex;
    width: calc(100%-1rem);
    padding: 0.5rem;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }
  .Button {
    margin: 0.5rem;
    cursor: pointer;
  }
  .Input {
    margin: 0.5rem;
    width: 16rem;
    padding: 0.8rem 1rem;
    border: solid $itemGray;
    border-radius: 0.5rem;
  }
  .Todos {
    padding-left: 0px;
    margin: 1rem;
    overflow: auto;
  }
}
